		pushn 64
		pushi 0
		pushi 0
start
		pushs "Quantos inteiros?\n"
		writes
		read
		atoi
		storeg 64
		pushi 0
		storeg 65
bloco1:
		pushg 65
		pushg 64
		inf
		jz bloco2
		pushgp
		pushi 0
		padd
		pushg 65
		read
		atoi
		storen
		pushg 65
		pushi 1
		add
		storeg 65
		jump bloco1
bloco2:
		pushs "Array em ordem inversa: \n"
		writes
bloco3:
		pushg 64
		pushi 0
		sup
		jz bloco4
		pushg 64
		pushi 1
		sub
		storeg 64
		pushgp
		pushi 0
		padd
		pushg 64
		loadn
		writei
		pushs " \n"
		writes
		jump bloco3
bloco4:
stop
